.doc{
    display: grid;
    grid-template-columns: 90% 10%;
    margin: 1%;
    font-size: small;
    border-bottom: gold solid 1px;
}
.docLink{
    margin-left: 3%;
    display: grid;
    text-decoration: none;
    color: black;
    grid-template-columns: 10% 20% 40% 20% 5% 5%;
}

nav.active{
    color: gold;
}
.checkBox{
    display: grid;
    justify-items: center;
}