.doc{
    display: grid;
    grid-template-columns: 90% 10%;
    margin-top: 1%;
}
.docLinkBlack{
    margin-left: 3%;
    display: grid;
    text-decoration: none;
    color: black;
    grid-template-columns: 10% 20% 50% 20%;
}
.docLinkRed{
    margin-left: 3%;
    display: grid;
    text-decoration: none;
    color: red;
    grid-template-columns: 10% 20% 50% 20%;
}
nav.active{
    color: gold;
}
.checkBox{
    display: grid;
    justify-items: center;
}