.doc{
    display: grid;
    grid-template-columns: 88% 6% 6%;
    margin: 1%;
    font-size: small;
    border-bottom: gold solid 1px;
    height: 2%;
}
.docLink{
    display: grid;
    justify-items: center;
    margin-left: 3%;
    display: grid;
    text-decoration: none;
    color: black;
    grid-template-columns: 2% 20% 40% 25% 10%;
}
.docLink:hover{
    font-size: 110%;
}

nav.active{
    color: gold;
}
.checkBox{
    display: grid;
    justify-items: center;
}
.trash{
    display: grid;
    justify-items: center;
    cursor: pointer;
}