.docHeader{
    display: grid;
    grid-template-columns: 3% 18% 30% 28% 4% 17%;
    justify-items: center;
    margin: 3%;
    font-size: small;
    height: 5%;
}

.docHeader h4{
    cursor: pointer;
}

.docHeader h4:hover{
    font-size: 110%;
}