.testElement{
    display: grid;
    margin-left: 10%;
    margin-top: 5%;
}
.testElement a{
    text-decoration: none;
    color: white;
}
.testElement nav.active{
    color: gold;
    text-decoration: none;
    background-color: black;
}