.testFieldHeader{
    display: grid;
    grid-area: testFieldHeader;
    /*justify-items: center;*/
    margin: 1%;
    /*background-color: gold;*/
    grid-template-columns: 25% 25% 50%;
    color: white;
}
.testFieldHeader .navLink{
    display: grid;
    border: gold solid 1px;
    justify-items: center;
    align-content: center;
    margin-left: 5%;
}
.checkButton{
    cursor: pointer;
    display: grid;
    align-content: center;
    justify-items: center;
    border: gold solid 1px;
    margin-left: 10%;
    color: gold;
}

.testFieldHeader a{
    color: gold;
    text-decoration: none;
}

.testName{
    display: grid;
    justify-items: center;
}