.docList{
    background-color: rgba(250,250,250, 0.8);
    grid-template-rows: 1fr 10fr 1fr;
    margin: 2%;
    border-radius: 1%;
}

.docsCount{
    margin: 3%;
}
.currentPage{
    font-size: 110%;
    color: gold;
    margin-left: 1%;
    font-weight: bold;
}

.page{
    margin-left: 1%;
}