.testField {
    background-color: #030007;
    display: grid;
    grid-template-rows: 7% auto;
    grid-template-areas: "testFieldHeader" "content";
    padding: 1%;
}

.preloader {
    position: absolute;
    z-index: 100;
    top: 75px;
    width: 100%;
    height: 100%;
    background: rgba(193, 181, 79, 0.5);
}

.preloader img{
    height: 50%;
    margin-left: 30%;
}